.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
 color: #3F7194;
 text-decoration: none;
}

.deck-container .slide footer > * {
    font-family: "Raleway",sans-serif;
    font-size: 12pt;
    font-weight: normal;
    line-height: 56px;
    vertical-align: bottom;
}

.left-50 {
    float: left;
    width: 50%;
}
.right-50 {
    float: right;
    width: 50%;
}

.left-40 {
    float: left;
    width: 40%;
}

.right-60 {
    float: right;
    width: 55%;
}

.image-full {
    width: 70%;
    margin: 0 auto !important;
}

.reference-link {
    font-size: 90%;
}

.cons h3 {
    color: #edf2f4 !important;
    text-align: center;
}
.cons {
    padding-top: 1em;
    background-color: #930707;
    color: #edf2f4;
    border-radius: .5em
}
.img-background {
    background-position: 2em 5em !important;
    background-repeat: no-repeat !important;
}

.deck-container dl dd {
    margin-bottom: 1em;
}

#title-slide .container {
    margin-top: 2em
}

.small-font,
#flexitopic left-50{
    font-size: 90% !important
}
#title-slide h3 {
    position: relative;
    margin-top: 0.6em
}

#title-slide h1 {
    background: url("../images/cgeo256x256.png") no-repeat scroll 0 50% transparent;
    padding-left: 250px;
    position: relative;
    top: auto;
    bottom: auto;
    -moz-transform: none;
}

#title-slide {
    background-image: none;
}


.deck-container .slide h2 {
    color: #004372;
}

.deck-container .slide h2 small {
    color: #3f7194;
}
/* Pretty printing styles. Used with prettify.js. */

.str { color: #65B042; }
.kwd { color: #CE864B;}
.com { color: #AEAEAE; }
.typ { color: #89BDFF; }
.lit { color: #89BDFF; }
.pun { color: #000; }
.pln { color: #000; }
.tag { color: #AA7700; }
.atn { color: #FF1493; }
.atv { color: #080; }
.dec { color: #3387CC; }
#content pre.prettyprint,
pre.prettyprint { font-size: .8em; color: black; background-color: #fff !important}
pre.prettyprint {padding:1em;}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
/*li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none } /*

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #222 }

#whoami {
    background: url('../images/io.jpg') no-repeat 0 0;
}

#whoami p {
    color: white;
    text-shadow: -2px 2px black;
}
